---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import "../assets/global.css";
---

<script>
  import * as twgl from "twgl.js";
  import vertex from "../shaders/passthrough.vert?raw";
  import fragment from "../shaders/source.frag?raw";
  import checkerFrag from "../shaders/checker.frag?raw";

  const heatmapBanner = document.getElementById(
    "heatmap-banner",
  ) as HTMLCanvasElement;
  const width = heatmapBanner.offsetWidth;
  const height = heatmapBanner.offsetHeight;
  heatmapBanner.width = width;
  heatmapBanner.height = height;

  const offscreen = document.createElement("canvas");
  offscreen.width = width;
  offscreen.height = height;
  const ctx2d = offscreen.getContext("2d")!;

  type Dot = { x: number; y: number; radius: number };
  let dotList: Dot[] = [];
  const MAX_RADIUS = 20;
  const MIN_RADIUS = 15;
  const MAX_DOTS = 30;

  const addDot = (newDot: Dot) => {
    dotList.push(newDot);
    if (dotList.length > MAX_DOTS) dotList.shift();
  };

  const tickDots = () => {
    dotList = dotList
      .map((dot) => ({
        ...dot,
        radius:
          dot.radius -
          Math.max(0.01, Math.pow(2, (MAX_RADIUS - dot.radius) / 2) / 50),
      }))
      .filter((dot) => dot.radius > 0);
  };

  const drawDots = (ctx: CanvasRenderingContext2D, dots: Dot[]) => {
    ctx.fillStyle = "#fff";
    ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    for (const dot of dots) {
      const intensity = Math.max(
        0,
        Math.min(
          255,
          Math.floor((255 * (MAX_RADIUS - dot.radius)) / MAX_RADIUS),
        ),
      );
      const hexVal = intensity.toString(16).padStart(2, "0");
      ctx.fillStyle = `#${hexVal}${hexVal}${hexVal}`;
      ctx.fillRect(
        dot.x - dot.radius,
        dot.y - dot.radius,
        dot.radius * 2,
        dot.radius * 2,
      );
    }
  };

  heatmapBanner.addEventListener("mousemove", (e) => {
    addDot({
      x: e.offsetX,
      y: e.offsetY,
      radius: Math.random() * (MAX_RADIUS - MIN_RADIUS) + MIN_RADIUS,
    });
  });

  // webgl stuff

  /**
   *  create program that renders dither with tex input from quad render result
   */

  const gl = heatmapBanner.getContext("webgl2")!;
  gl.viewport(0, 0, width, height);
  const baseQuadMesh = twgl.primitives.createXYQuadBufferInfo(gl); // reuse for every program

  const baseProgramInfo = twgl.createProgramInfo(gl, [vertex, fragment]);
  gl.useProgram(baseProgramInfo.program);
  twgl.setBuffersAndAttributes(gl, baseProgramInfo, baseQuadMesh);

  const canvasTexture = twgl.createTexture(gl, { src: offscreen });
  const baseUniforms = {
    tSource: canvasTexture,
  };
  twgl.setUniforms(baseProgramInfo, baseUniforms);

  // draw base tex to FBO

  const baseFBOInfo = twgl.createFramebufferInfo(gl);
  twgl.bindFramebufferInfo(gl, baseFBOInfo);
  twgl.drawBufferInfo(gl, baseQuadMesh);

  // use framebuffer as uniform for dither shader

  const ditherProgramInfo = twgl.createProgramInfo(gl, [vertex, checkerFrag]);
  gl.useProgram(ditherProgramInfo.program);
  twgl.setBuffersAndAttributes(gl, ditherProgramInfo, baseQuadMesh);

  const ditherTexture = twgl.createTexture(gl, {
    width: 8,
    height: 8,
    wrapS: gl.REPEAT,
    wrapT: gl.REPEAT,
    internalFormat: gl.LUMINANCE,
    format: gl.LUMINANCE,
    src: new Uint8Array([
      0, 128, 32, 160, 8, 136, 40, 168, 192, 64, 224, 96, 200, 72, 232, 104, 48,
      176, 16, 144, 56, 184, 24, 152, 240, 112, 208, 80, 248, 120, 216, 88, 12,
      140, 44, 172, 4, 132, 36, 164, 204, 76, 236, 108, 196, 68, 228, 100, 60,
      188, 28, 156, 52, 180, 20, 148, 252, 124, 220, 92, 244, 116, 212, 84,
    ]),
  });
  const ditherUniforms = {
    tSource: baseFBOInfo,
    tBayer: ditherTexture,
    uTime: 0,
    uResolution: [width, height],
    uDitherSize: 4,
    uNumColors: 2,
    uIntensity: 0.5,
  };

  twgl.setUniforms(ditherProgramInfo, ditherUniforms);

  let time = 0;
  const render = () => {
    time += 0.01;

    tickDots();
    drawDots(ctx2d, dotList);

    // render base to fbo

    gl.useProgram(baseProgramInfo.program);
    twgl.setTextureFromElement(gl, canvasTexture, offscreen);
    const newBaseUniforms = {
      tSource: canvasTexture,
    };
    twgl.setUniforms(baseProgramInfo, newBaseUniforms);
    twgl.bindFramebufferInfo(gl, baseFBOInfo);
    twgl.setBuffersAndAttributes(gl, baseProgramInfo, baseQuadMesh);
    twgl.drawBufferInfo(gl, baseQuadMesh);

    // render dither with updated texture
    gl.useProgram(ditherProgramInfo.program);
    twgl.bindFramebufferInfo(gl, null);
    const changedUniforms = {
      uTime: time,
      uSource: baseFBOInfo,
    };
    twgl.setUniforms(ditherProgramInfo, changedUniforms);
    twgl.drawBufferInfo(gl, baseQuadMesh);

    requestAnimationFrame(render);
  };

  render();
</script>

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-8 open-sans"
  >
    <div class="grid grid-cols-6 w-full max-w-4xl h-min py-8 gap-8">
      <div class="flex col-start-1 col-span-2 row-start-1 h-full items-end">
        <h1 class="flex flex-col text-2xl eb-garamond">
          <span>Creative</span>
          <span>Technology</span>
          <span class="flex gap-2">
            <span class="text-red-700">Lab</span>
            <span class="text-neutral-400">@Cornell</span>
          </span>
        </h1>
      </div>
      <canvas
        class="relative overflow-clip h-32 w-full col-start-3 col-span-4 row-start-1"
        id="heatmap-banner"
      >
      </canvas>
      <p class="col-start-3 col-span-4 row-start-2">
        We build exploratory projects that push the boundaries of <span
          class="font-bold">Artificial Intelligence</span
        >, <span class="font-bold">Digital Storytelling</span>, and <span
          class="font-bold">Extended Reality</span
        >. Student directed since 2008.
      </p>
    </div>
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-b border-neutral-300 mt-4"
    >
      <h2 class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2">
        Projects
      </h2>
    </div>
    <ProjectSection>
      <Fragment slot="title">Physics EM Wave</Fragment>
      <Fragment slot="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum
        asperiores adipisci quae accusantium. Harum molestias dolorem?
      </Fragment>
      <Fragment slot="content"></Fragment>
      <Fragment slot="button">
        <button
          class="px-6 py-1 bg-white rounded-sm border border-neutral-200 kode-mono text-sm"
          >Open Project</button
        >
      </Fragment>
    </ProjectSection>
    <ProjectSection>
      <Fragment slot="title">Kirby Engine</Fragment>
      <Fragment slot="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum
        asperiores adipisci quae accusantium. Harum molestias dolorem?
      </Fragment>
      <Fragment slot="content"></Fragment>
      <Fragment slot="button">
        <button
          class="px-6 py-2 bg-white rounded-sm border border-neutral-200 kode-mono text-sm"
          >Open Project</button
        >
      </Fragment>
    </ProjectSection>
  </div>
</Layout>
