---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import "../assets/global.css";
---

<script>
  import {
    Renderer,
    Camera,
    Transform,
    Box,
    Post,
    Program,
    Mesh,
    Vec2,
    Texture,
    Triangle,
    Color,
  } from "ogl";

  import vertex from "../shaders/passthrough.vert?raw";
  import fragment from "../shaders/source.frag?raw";
  import checkerFrag from "../shaders/checker.frag?raw";

  const heatmapBanner = document.getElementById(
    "heatmap-banner",
  ) as HTMLDivElement;
  const width = heatmapBanner.offsetWidth;
  const height = heatmapBanner.offsetHeight;

  const offscreen = document.createElement("canvas");
  offscreen.width = width;
  offscreen.height = height;
  const ctx2d = offscreen.getContext("2d")!;

  type Dot = { x: number; y: number; radius: number };
  let dotList: Dot[] = [];
  const MAX_RADIUS = 20;
  const MIN_RADIUS = 15;
  const MAX_DOTS = 30;

  const addDot = (newDot: Dot) => {
    dotList.push(newDot);
    if (dotList.length > MAX_DOTS) dotList.shift();
  };

  const tickDots = () => {
    dotList = dotList
      .map((dot) => ({
        ...dot,
        radius:
          dot.radius -
          Math.max(0.01, Math.pow(2, (MAX_RADIUS - dot.radius) / 2) / 50),
      }))
      .filter((dot) => dot.radius > 0);
  };

  const drawDots = (ctx: CanvasRenderingContext2D, dots: Dot[]) => {
    ctx.fillStyle = "#fff";
    ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    for (const dot of dots) {
      const intensity = Math.max(
        0,
        Math.min(
          255,
          Math.floor((255 * (MAX_RADIUS - dot.radius)) / MAX_RADIUS),
        ),
      );
      const hexVal = intensity.toString(16).padStart(2, "0");
      ctx.fillStyle = `#${hexVal}${hexVal}${hexVal}`;
      ctx.fillRect(dot.x, dot.y, ctx.canvas.width, MAX_RADIUS);
    }
  };

  heatmapBanner.addEventListener("mousemove", (e) => {
    addDot({
      x: e.offsetX,
      y: e.offsetY,
      radius: Math.random() * (MAX_RADIUS - MIN_RADIUS) + MIN_RADIUS,
    });
  });

  // webgl stuff

  const renderer = new Renderer();
  const gl = renderer.gl;
  heatmapBanner.appendChild(gl.canvas);

  gl.canvas.width = width;
  gl.canvas.height = height;
  gl.canvas.classList.add("[image-rendering:pixelated]");
  renderer.setSize(gl.canvas.width, gl.canvas.height);

  const scene = new Transform();

  const geometry = new Triangle(gl);

  const program = new Program(gl, {
    vertex,
    fragment,
    uniforms: {
      tSource: { value: new Texture(gl, { image: offscreen }) },
    },
  });

  const mesh = new Mesh(gl, { geometry, program });
  mesh.setParent(scene);

  const noise = new Post(gl, { width: width, height: height });

  // prettier-ignore
  const bayerData = new Uint8Array([
      0, 128,  32, 160,   8, 136,  40, 168,
    192,  64, 224,  96, 200,  72, 232, 104,
     48, 176,  16, 144,  56, 184,  24, 152,
    240, 112, 208,  80, 248, 120, 216,  88,
     12, 140,  44, 172,   4, 132,  36, 164,
    204,  76, 236, 108, 196,  68, 228, 100,
     60, 188,  28, 156,  52, 180,  20, 148,
    252, 124, 220,  92, 244, 116, 212,  84,
  ]);

  const bayerTexture = new Texture(gl, {
    image: bayerData,
    width: 8,
    height: 8,
    generateMipmaps: false,
    minFilter: gl.NEAREST,
    magFilter: gl.NEAREST,
    wrapS: gl.REPEAT,
    wrapT: gl.REPEAT,
    internalFormat: gl.LUMINANCE,
    format: gl.LUMINANCE,
  });

  noise.addPass({
    fragment: checkerFrag,
    uniforms: {
      uTime: { value: 0 },
      uResolution: { value: new Vec2(width, height) },
      uDitherSize: { value: 4 },
      uNumColors: { value: 2 },
      uIntensity: { value: 0.5 },
      tBayer: { value: bayerTexture },
    },
  });

  let time = 0;
  const render = () => {
    time += 0.01;

    tickDots();
    drawDots(ctx2d, dotList);

    program.uniforms.tSource.value = new Texture(gl, { image: offscreen });
    noise.passes[0].uniforms.uTime.value = time;
    noise.render({ scene: mesh });

    requestAnimationFrame(render);
  };

  render();
</script>

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-8 open-sans"
  >
    <div class="grid grid-cols-6 w-full max-w-4xl h-min py-8 gap-8">
      <div class="flex col-start-1 col-span-2 row-start-1 h-full items-end">
        <h1 class="flex flex-col text-2xl eb-garamond">
          <span>Creative</span>
          <span>Technology</span>
          <span class="flex gap-2">
            <span class="text-red-700">Lab</span>
            <span class="text-neutral-400">@Cornell</span>
          </span>
        </h1>
      </div>
      <div
        class="relative overflow-clip h-32 w-full col-start-3 col-span-4 row-start-1"
        id="heatmap-banner"
      >
        <div
          class="absolute inset-0 z-10 pointer-events-none bg-linear-to-r from-transparent to-white"
        >
        </div>
      </div>
      <p class="col-start-3 col-span-4 row-start-2">
        We build exploratory projects that push the boundaries of <span
          class="font-bold">Artificial Intelligence</span
        >, <span class="font-bold">Digital Storytelling</span>, and <span
          class="font-bold">Extended Reality</span
        >. Student directed since 2008.
      </p>
    </div>
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-b border-neutral-300 mt-4"
    >
      <h2 class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2">
        Projects
      </h2>
    </div>
    <ProjectSection>
      <Fragment slot="title">Physics EM Wave</Fragment>
      <Fragment slot="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum
        asperiores adipisci quae accusantium. Harum molestias dolorem?
      </Fragment>
      <Fragment slot="content"></Fragment>
      <Fragment slot="button">
        <button
          class="px-6 py-1 bg-white rounded-sm border border-neutral-200 kode-mono text-sm"
          >Open Project</button
        >
      </Fragment>
    </ProjectSection>
    <ProjectSection>
      <Fragment slot="title">Kirby Engine</Fragment>
      <Fragment slot="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum
        asperiores adipisci quae accusantium. Harum molestias dolorem?
      </Fragment>
      <Fragment slot="content"></Fragment>
      <Fragment slot="button">
        <button
          class="px-6 py-2 bg-white rounded-sm border border-neutral-200 kode-mono text-sm"
          >Open Project</button
        >
      </Fragment>
    </ProjectSection>
  </div>
</Layout>
