---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import HeatmapBanner from "../components/HeatmapBanner.astro";
import ObjViewer from "../components/ObjViewer.astro";
import physicsModelData from "../assets/physicsmodel.obj?raw";
import spectaclesData from "../assets/spectacles.obj?raw";
import ContactItemComponent from "../components/ContactItemComponent.astro";
import "../assets/global.css";
---

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-8 open-sans"
  >
    <div class="grid grid-cols-6 w-full max-w-4xl h-min pt-8 gap-8 gap-y-16">
      <div class="flex col-start-1 col-span-2 row-start-1 h-full items-end">
        <h1 class="flex flex-col text-4xl eb-garamond h-28">
          <span>Creative</span>
          <span>Technology</span>
          <span class="flex gap-2">
            <span class="text-red-700">Lab</span>
            <span class="text-neutral-400">@showcase</span>
          </span>
        </h1>
      </div>
      <div
        class="relative col-start-3 col-span-4 row-start-1 overflow-clip h-36"
      >
        <HeatmapBanner />
      </div>
      <p class="col-start-3 col-span-4 row-start-2 leading-8 text-neutral-500">
        We build exploratory projects that push the boundaries of <span
          class="font-bold">Artificial Intelligence</span
        >, <span class="font-bold">Digital Storytelling</span>, and <span
          class="font-bold">Extended Reality</span
        >. Student directed since 2008.
      </p>
    </div>
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-b border-neutral-300 mt-4"
    >
      <h2
        class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2 text-neutral-400"
      >
        Projects
      </h2>
    </div>
    <ProjectSection credits={["Suriyash", "Grace"]}>
      <Fragment slot="title">Physics EM Wave</Fragment>
      <Fragment slot="description">
        Built in partnership with Cornell's PHYS 1101 class. An interactive, 3D
        visualization tool for eletrical and magnetic fields
      </Fragment>
      <Fragment slot="content">
        <ObjViewer class="w-full h-full" objData={physicsModelData} />
      </Fragment>
      <Fragment slot="button">
        <a href="#">
          <button class="button kode-mono">Open Project</button>
        </a>
      </Fragment>
    </ProjectSection>
    <ProjectSection credits={["George", "Aishu"]}>
      <Fragment slot="title">Spectacles</Fragment>
      <Fragment slot="description">
        A series of ongoing experiments with Snap Inc.'s Spectacle AR Glasses,
        with applications ranging from real-time translation and language
        learning.
      </Fragment>
      <Fragment slot="content">
        <ObjViewer class="w-full h-full" objData={spectaclesData} />
      </Fragment>
      <Fragment slot="button">
        <a href="#">
          <button class="button kode-mono">Open Project</button>
        </a>
      </Fragment>
    </ProjectSection>
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-b border-neutral-300 mt-4"
    >
      <h2
        class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2 text-neutral-400"
      >
        Collaborate
      </h2>
    </div>
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min pb-48 border-neutral-300 mt-4 py-16 gap-8"
    >
      <div
        class="flex flex-col h-full w-full items-start justify-center gap-12 col-start-1 row-start-1 col-span-2"
      >
        <h3 class="flex flex-col text-3xl eb-garamond text-neutral-800">
          Let's build something amazing together
        </h3>
      </div>
      <div
        class="h-min col-start-3 col-span-4 row-start-1 bg-neutral-50 flex flex-col p-4 py-12"
      >
        <p class="px-8 pb-4">Reach out to us at:</p>
        <ul>
          <ContactItemComponent
            name="Parent Site"
            link="https://teaching.cornell.edu/learning-technologies/creative-technology-lab"
            shortenedLink="teaching.cornell.edu"
          />
          <ContactItemComponent
            name="Email"
            link="mailto:cti@cornell.edu"
            shortenedLink="cti@cornell.edu"
          />
          <ContactItemComponent
            name="Twitter"
            link="https://x.com/CTICornell"
            shortenedLink="@CTICornell"
          />
          <ContactItemComponent
            name="Instagram"
            link="https://www.instagram.com/cornellteaching"
            shortenedLink="@cornellteaching"
          />
        </ul>
      </div>
    </div>
  </div>
</Layout>
