---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import "../assets/global.css";
---

<script>
  const heatmapBanner = document.getElementById("heatmap-banner");
  heatmapBanner?.addEventListener("mousemove", () => {
    console.log("move");
  });
</script>

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-8 open-sans"
  >
    <div class="grid grid-cols-6 w-full max-w-4xl h-min py-8 gap-8">
      <div class="flex col-start-1 col-span-2 row-start-1 h-full items-end">
        <h1 class="flex flex-col text-2xl eb-garamond">
          <span>Creative</span>
          <span>Technology</span>
          <span class="flex gap-2">
            <span class="text-red-700">Lab</span>
            <span class="text-neutral-400">@Cornell</span>
          </span>
        </h1>
      </div>
      <canvas
        class="bg-blue-500 h-full w-full col-start-3 col-span-4 row-start-1"
        id="heatmap-banner"
        width="500"
        height="150"></canvas>
      <p class="col-start-3 col-span-4 row-start-2">
        We build exploratory projects that push the boundaries of <span
          class="font-bold">Artificial Intelligence</span
        >, <span class="font-bold">Digital Storytelling</span>, and <span
          class="font-bold">Extended Reality</span
        >. Student directed since 2008.
      </p>
    </div>
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-b border-neutral-300 mt-4"
    >
      <h2 class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2">
        Projects
      </h2>
    </div>
    <ProjectSection>
      <Fragment slot="title">Physics EM Wave</Fragment>
      <Fragment slot="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum
        asperiores adipisci quae accusantium. Harum molestias dolorem?
      </Fragment>
      <Fragment slot="content"></Fragment>
      <Fragment slot="button">
        <button
          class="px-6 py-1 bg-white rounded-sm border border-neutral-200 kode-mono text-sm"
          >Open Project</button
        >
      </Fragment>
    </ProjectSection>
    <ProjectSection>
      <Fragment slot="title">Kirby Engine</Fragment>
      <Fragment slot="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum illum
        asperiores adipisci quae accusantium. Harum molestias dolorem?
      </Fragment>
      <Fragment slot="content"></Fragment>
      <Fragment slot="button">
        <button
          class="px-6 py-2 bg-white rounded-sm border border-neutral-200 kode-mono text-sm"
          >Open Project</button
        >
      </Fragment>
    </ProjectSection>
  </div>
</Layout>
