---
import Layout from "../layouts/Layout.astro";
import MemberCard from "../components/MemberCard.astro";
import HeatmapBanner from "../components/HeatmapBanner.astro";
import "../assets/global.css";
---

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-24 open-sans gap-12"
  >
    <div class="relative overflow-clip h-48 w-full max-w-4xl">
      <HeatmapBanner />
    </div>
    <div class="flex flex-col w-full max-w-4xl py-8 gap-8">
      <div class="flex flex-col gap-2 pb-4 border-b border-neutral-200 px-4">
        <h1 class="text-4xl eb-garamond">Current Members</h1>
      </div>
      <div class="h-min bg-neutral-50 flex flex-col py-12 px-4">
        <MemberCard
          name="Suriyash Malviya"
          website="https://www.suryash.com/"
          linkedin="https://www.linkedin.com/in/thesuryash/"
          github="https://github.com/thesuryash"
        />
        <MemberCard
          name="George Margono"
          linkedin="https://www.linkedin.com/in/georgemargono/"
        />
        <MemberCard
          name="Aishu Rai"
          linkedin="https://www.linkedin.com/in/aiswarya-senthil-56a47323b/"
        />
        <MemberCard
          name="Ryan Qiu"
          website="https://ryanwqiu.com"
          github="https://github.com/YottaYocta"
          linkedin="https://www.linkedin.com/in/ryan-qiu-194041297/"
        />
        <MemberCard
          name="David Seeman"
          linkedin="https://www.linkedin.com/in/david-seeman/"
        />

        <MemberCard
          name="Luke Shao"
          linkedin="https://www.linkedin.com/in/luke-shao/"
        />
      </div>
    </div>
    <div class="flex flex-col w-full max-w-4xl py-8 gap-8">
      <div class="flex flex-col gap-2 pb-4 border-b border-neutral-200 px-4">
        <h2 class="text-4xl eb-garamond">Past Members</h2>
      </div>
      <div class="h-min bg-neutral-50 flex flex-col py-12 px-4">
        <MemberCard
          name="Tamara Kasikovic"
          linkedin="https://www.linkedin.com/in/tamara-kas/"
        />
        <MemberCard
          name="Majd Aldaye"
          linkedin="https://www.linkedin.com/in/majd-aldaye-9358731a5/"
        />
        <MemberCard name="Ruth Ogbemudia" />
        <MemberCard
          name="Sabrina Liu"
          linkedin="https://www.linkedin.com/in/sabrina-liu-a7b311297/"
        />
        <MemberCard
          name="Grace Jin"
          website="https://www.instagram.com/yeygrassssss"
          linkedin="https://www.linkedin.com/in/grace-jin-cornell/"
        />
      </div>
    </div>
  </div>
</Layout>
