---
import Layout from "../layouts/Layout.astro";
import MemberCard from "../components/MemberCard.astro";
import "../assets/global.css";
---

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-8 open-sans"
  >
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-neutral-300 mt-4"
    >
      <h2
        class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2 text-neutral-500"
      >
        Current Members
      </h2>
    </div>
    <div class="flex flex-col w-full max-w-4xl pb-48">
      <div class="grid grid-cols-3 gap-4 mt-8">
        <MemberCard
          name="Suriyash Malviya"
          image="https://placehold.co/96x96"
          website="#"
          linkedin="#"
          github="#"
        />
        <MemberCard
          name="Grace Jin"
          image="https://placehold.co/96x96"
          website="#"
          linkedin="#"
          github="#"
        />
        <MemberCard
          name="George Margono"
          image="https://placehold.co/96x96"
          website="#"
          linkedin="#"
          github="#"
        />
        <MemberCard
          name="Ryan Qiu"
          image="https://placehold.co/96x96"
          website="#"
          linkedin="#"
          github="#"
        />
      </div>
    </div>
  </div>
</Layout>
