---
import Layout from "../layouts/Layout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import ObjViewer from "../components/ObjViewer.astro";
import physicsModelData from "../assets/physicsmodel.obj?raw";
import spectaclesData from "../assets/spectacles.obj?raw";
import kirbyData from "../assets/kirby.obj?raw";
import "../assets/global.css";
---

<Layout>
  <div
    class="min-w-full min-h-full flex flex-col items-center justify-start py-8 open-sans"
  >
    <div
      class="grid grid-cols-6 w-full max-w-4xl h-min border-neutral-300 mt-4"
    >
      <h2
        class="flex flex-col col-start-1 col-span-full w-full kode-mono pb-2 text-neutral-500"
      >
        Projects
      </h2>
    </div>
    <div class="w-full max-w-4xl">
      <ProjectSection
        credits={["Suriyash Malviya", "Grace Jin"]}
        client:visible
      >
        <Fragment slot="title">Physics EM Wave</Fragment>
        <Fragment slot="description">
          Built in partnership with Cornell's PHYS 1101 class. An interactive,
          3D visualization tool for eletrical and magnetic fields
        </Fragment>
        <Fragment slot="content">
          <ObjViewer class="w-full h-full" objData={physicsModelData} />
        </Fragment>
        <Fragment slot="button">
          <a href="#">
            <button class="button kode-mono">Open Project</button>
          </a>
        </Fragment>
      </ProjectSection>
      <ProjectSection credits={["George Margono", "Aiswarya Senthil"]}>
        <Fragment slot="title">Spectacles</Fragment>
        <Fragment slot="description">
          A series of ongoing experiments with Snap Inc.'s Spectacle AR Glasses,
          with applications ranging from real-time translation and language
          learning.
        </Fragment>
        <Fragment slot="content">
          <ObjViewer class="w-full h-full" objData={spectaclesData} />
        </Fragment>
        <Fragment slot="button">
          <a href="#">
            <button class="button kode-mono">Open Project</button>
          </a>
        </Fragment>
      </ProjectSection>
      <ProjectSection credits={["Kirby Engine Team"]}>
        <Fragment slot="title">Kirby Engine</Fragment>
        <Fragment slot="description">
          A collaboration with Professor Brian Kirby to bring a virtual,
          interactive model of a retired motor engine to an explorational
          teaching tool
        </Fragment>
        <Fragment slot="content">
          <ObjViewer class="w-full h-full" objData={kirbyData} />
        </Fragment>
        <Fragment slot="button">
          <a href="#">
            <button class="button kode-mono">Open Project</button>
          </a>
        </Fragment>
      </ProjectSection>
    </div>
  </div>
</Layout>
