---
import SiteGrid from "./SiteGrid.astro";
---

<nav
  class="sticky top-0 z-50 w-full bg-white border-b border-neutral-200 flex justify-center"
>
  <SiteGrid class="py-3">
    <Fragment slot="left">
      <a
        href="/"
        class="eb-garamond text-lg text-neutral-900 hover:text-red-700 transition-colors"
      >
        CTL
      </a>
    </Fragment>
    <Fragment slot="right">
      <div class="flex justify-between items-center gap-8 pl-6">
        <a
          href="/"
          class="kode-mono text-sm text-neutral-500 hover:text-neutral-900 transition-colors"
          >$HOME</a
        >
        <a
          href="/#work"
          class="kode-mono text-sm text-neutral-500 hover:text-neutral-900 transition-colors"
        >
          ./Work
        </a>
        <a
          href="/team"
          class="kode-mono text-sm text-neutral-500 hover:text-neutral-900 transition-colors"
        >
          ./Team
        </a>
        <a
          href="/#contact"
          class="kode-mono text-sm text-neutral-500 hover:text-neutral-900 transition-colors"
        >
          ./Contact
        </a>
      </div>
    </Fragment>
  </SiteGrid>
</nav>
