@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@layer base {
    .open-sans {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }


    .eb-garamond {
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .kode-mono {
        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
    }
}


@layer components{
    .button {
        padding: 0.25rem 1.5rem;
        background: white;
        border-radius: 1000rem;
        border: 1px solid var(--color-neutral-100);
        font-size: var(--text-sm);
        box-shadow: var(--shadow-xs);
        transition: 0.1s all ease-out;
        cursor: pointer;
    }

    .button:hover {
        background: var(--color-neutral-50);
        border-color: var(--color-neutral-200);
        transition: 0.05s all ease-out;
    }

    .button:active {
        background: var(--color-neutral-100)
    }
}
