@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';


@layer utilities {

    .open-sans {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }


    .eb-garamond {
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .kode-mono {
        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
    }
}
